body {
    background-image: url("images/ellehacks_bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 1200px; 
    height: 800px;
    display: flex;
    margin: 0;
    justify-content: center;
    position: relative;
}


.data-svg-wrapper {
    flex-shrink: 0;
    aspect-ratio: 1/1;
    fill: rgba(255, 255, 255, 0.00);
    position: absolute;
    box-shadow: 1px 5px 8px;
    border-radius: 10px;
    margin-top: 280px;
    padding: 2px;
    padding-bottom: 5px;
    top: 0px;
    left: 0px;
}

.container{
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#navBar {
    display: none; /* Initially hide the menu bar */
    z-index: 1;
}

.to-do{ 
    background-color:#658C5E;
    height: 45px;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left : 40px;
    text-align: center;
    color:white;
    font-family: Chicle;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.box-list{
    background-color:#FFF9DC;
    margin-top: 20px;
    width:90%;
    height: 300px;
    border-radius:20px;
    margin-left: 40px;
    flex-direction: column;
    display: flex;
    padding: 10px;
}

#timer {
    margin-top: 0px;
    margin-left: 470px;
}

#clock{
    width: 247px;
    height: 241px;
    flex-shrink: 0;
    margin-top: 110px;
    margin-left: 300px;
    margin-right:130px;
}

#timerControls {
    margin-left: 340px;
    padding: 4px;
}
#start{
    background-color:#658C5E;
    color: white;
    border-radius: 5px;
}

#stop{
    background-color: #6F5840;
    color: white;
    border-radius: 5px;
}

#reset{
    background-color: #C4A77D;
    color: white;
    border-radius: 5px;
}

#duration {
    width: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cad9ad;
    border-radius: 5px;
    text-align: center;
}

#time {
    color: #658C5E;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Patrick Hand";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 125% */
    width: 262px;
    height: 64px;
    flex-shrink: 0;
    margin-left: 280px;
}


#editTimer{
    flex-direction:row;
    margin-left: 350px;
}
#setDuration{
    background-color:#658C5E;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
    width: 50px;
}

#duration{
    width: 50px;

}
p {
    font-family: Chicle;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-align: center;
    color: #658C5E;
}

#flower{
    display: none;
    margin-left: 110px;
    scale: 0.8;
    padding-top: 10px;
    height: 5px;
}