body {
    background-image: url("images/ellehacks_bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 1200px; 
    height: 900px;
    display: flex;
    margin: 0;
    justify-content: center;
    position: relative;
}

.bgH1 {
    background-color: white;
    color: #658C5E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Chicle;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    border-radius: 10px;
    margin: auto; /* resizes the button size to fit the text */
    margin-top: 100px;
    align-items: center;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.data-svg-wrapper {
    flex-shrink: 0;
    aspect-ratio: 1/1;
    fill: rgba(255, 255, 255, 0.00);
    position: absolute;
    box-shadow: 1px 5px 8px;
    border-radius: 10px;
    top: 0px;
    left: 0px;
}


#menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

#navBar {
    display: none; /* Initially hide the menu bar */
    z-index: 1;
    position: relative;
}

.to-do{ 
    background-color:#658C5E;
    height: 45px;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left : 40px;
    text-align: center;
    color:white;
    font-family: Chicle;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.box-list{
    background-color:#FFF9DC;
    margin-top: 20px;
    width:90%;
    height: 300px;
    border-radius:20px;
    margin-left: 40px;
    overflow-y: auto; /* Add vertical scrollbar */
}

#task {
    width: calc(100% - 70px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#addtask {
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#taskList li button {
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #658C5E;
}

#taskList li.completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
}

#taskList li span {
    flex-grow: 1;
    text-align: left;
}

.box-h2 {
    color: black;
    text-align: left;
    font-family: Chicle;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    border-radius: 10px;
    margin: auto; /* resizes the button size to fit the text */
    margin-top: 20px;
    margin-left: 20px;
}

#timer {
    margin-top: 0px;
    margin-left: 470px;
}

#clock{
    width: 247px;
    height: 241px;
    flex-shrink: 0;
    margin-top: 110px;
    margin-left: 300px;
    margin-right:130px;
}

#timerControls {
    margin-left: 340px;
    padding: 4px;
}
#start{
    background-color:#658C5E;
    color: white;
    border-radius: 5px;
}
#start:hover{
    background-color: #3c5837;
    cursor: pointer;
}

#stop{
    background-color: #6F5840;
    color: white;
    border-radius: 5px;
}
#stop:hover{
    background-color: #53412f;
    cursor: pointer;
}

#reset{
    background-color: #C4A77D;
    color: white;
    border-radius: 5px;
}
#reset:hover{
    background-color: #8f7252;
    cursor: pointer;
}

#duration {
    width: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cad9ad;
    border-radius: 5px;
    text-align: center;
}

#time {
    color: #658C5E;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Patrick Hand";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 125% */
    width: 262px;
    height: 64px;
    flex-shrink: 0;
    margin-left: 280px;
    user-select: none;
}


#editTimer{
    flex-direction:row;
    margin-left: 350px;
}
#setDuration{
    background-color:#658C5E;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
    width: 50px;
}
#setDuration:hover{
    background-color: #3c5837;
    cursor: pointer;
}

#duration{
    width: 50px;

}
p {
    font-family: Chicle;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-align: center;
    color: #658C5E;
}

#flower{
    display: none;
    margin-left: 110px;
    scale: 0.8;
    padding-top: 10px;
    height: 5px;
}